*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    color: white;
    background-color: #27301b;
    padding: 15px 8%;
}

/*------------------------- Header -------------------*/

header{
    width: 100%;
    height: 100vh;
    background: url('images/background.svg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
}

.nome {
    width: 25%; /* Ou qualquer valor desejado */
    height: auto;
  }

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #b3d557;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    color: #bde15b ;
    width: 100%;
}

abbr{
    text-decoration: none;
}

.introducao{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 50%;
    margin: 0 auto;
    margin-top: 45px;
    
    
}

.introducao p {
    font-size: 12px;
    text-justify: auto;
}

.informacoes ul li{
    list-style: none;
    margin: 10px 0;
}


header h1 {
    margin-top: 6%;
    font-size: 30px;
    margin-left: 5.5%;
}

header p{
    font-size: 60px;
    margin-left: 5.5%;
}

header span{
    color: #bde15b ;
    margin-left: 45px;
}

/*------------------------- Sobre -------------------*/
.foto-gustavo{
    width: 100%;
    border-radius: 15px;
}

.sobre, .linha{
    padding: 80px 8%;
    color: #ababab;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.sobre-coluna-1{
    flex-basis: 35%;
}

.sobre-coluna-2{
    flex-basis: 60%;
}

.sub-titulo{
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 20px;
    color: white;

}

.titulos-sobre{
    display: flex;
    margin: 20px 0 40px;
}

.sobre-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.sobre-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #bde15b;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.sobre-links.link-ativo::after{
    width: 50%;
}

.conteudos-sobre ul li{
    list-style: none;
    margin: 10px 0;
}

.conteudos-sobre ul li span{
    color: #ccef6d;
    font-size: 14px;
}

.conteudos-sobre{
    display: none;
}

.conteudos-sobre.conteudo-ativo{
    display: block;
}

/**------------------------- Contatos-------------------*/

.contato-esquerda{
    flex-basis: 35%;
}
.contato-direita{
    flex-basis: 60%;
}

.contato-esquerda p{
   margin-top: 35px;
}

.contato-esquerda a{
    text-decoration: none;
    color: white;
}

.contato-esquerda p i{
    color: #ccef6d;
    margin-right: 15px;
    font-size: 20px;
}

.social-icons {
    margin-top: 30px;
}

.social-icons a{
    text-decoration: none;
    font-size: 25px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover {
    color: #bde15b;
    transform: translate(0,-5px);
}

.btn.btn2{
    background-color: #bde15b;
    color: #27301b;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 30px;
    display: inline-block;
    transition: transform 0.5s;
}

form .btn.btn2{
    background-color: #bde15b;
    color: #27301b;
    padding: 14px 60px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 20px;
    float: right;
    cursor: pointer;
}

.contato-direita form{
    width: 100%;
}

form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: white ;
    padding: 15px;
    margin: 15px 0;
    color: black;
    font-size: 18px;
    border-radius: 6px;
}

nav .fa-solid {
    display: none;
}

/*----------- Jogos -------------*/

.interesses{
    width: 100%;
    margin: 10px auto;
    position: relative;
    padding: 80px 8%;
}

.interesses a{
    text-decoration: none;
    color: #bde15b;
    border-bottom: 2px solid #bde15b;
}

.Jogos .text{
    padding: 10px;
    
}

.Jogos h1{
    font-size: 30px;

}

.text h2{
    font-size: 25px;
    margin-top: 25px;
    margin-bottom: 15px;
}

.text p{
    font-size: 12px;
    margin-left: 5.5%;
    margin-bottom: 25px;
    color: #ababab;
}

.header{
    width: 98%;
    height: 60px;
    margin: 0 auto;
    align-items: center;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    border-bottom: 2px solid #ababab;
}


.logo-jogos ul {
    display: flex;
    flex-wrap: wrap; /* Permite quebrar em múltiplas linhas, se necessário */
    justify-content: center; /* Centraliza as imagens horizontalmente */
    list-style-type: none;
}

.logo-jogos li {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px; /* Espaçamento entre os itens */
}

.logo-jogos img {
    width: 150px; /* Ajuste o tamanho conforme desejado */
    height: auto;
    border-radius: 8px; /* Bordas arredondadas */
    transition: transform 0.3s; /* Efeito de transição para hover */
}
.detalhes {
    text-align: center;
    margin-top: 8px;
    border-bottom: 2px solid #bde15b;
}

.logo-jogos li:hover {
    transform: scale(1.1); /* Efeito de zoom ao passar o mouse */
}


/*---------------CSS Para celulares-------------*/

@media only screen and (max-width: 600px){
    
    header{
        background-image: url('images/background-celular.svg');
        background-size: cover;
        background-position: center;
    }
    body {
        padding: 15px 0%;
    }

    header h1, header p{
        display: flex;
        flex-direction: column;
        justify-content: end;
    }

    header h1 {
        font-size: 16px;
    }

    header p{
        font-size: 30px;
    }

    header span{
        color: #bde15b ;
        margin-left: 35px;
    }
    nav .fa-solid {
        display: block;
        font-size: 25px;
        margin-right: 30px;
    }

    nav ul{
        background: #b3d557;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.7s;
    }

    nav ul li{
        display: block;
        margin: 25px;
    }

    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .sobre-coluna-1{
        display: none;
    }

    .nome{
        width: 70%;
    }

    .sub-titulo{
        font-size: 40px;
        margin-left: 10%;
    }
    .sobre-coluna-2, .sobre-coluna-1{
        flex-basis: 100%;
    }
    .sobre-coluna-1{
        margin-bottom: 30px;
    }

    .sobre-coluna-2{
        font-size: 14px;

        margin-top: -60px;
    }

    .sobre-links{
        font-size: 16px;
        margin-right: 20px;
    }

    .logo-jogos img {
        width: 80px; /* Ajuste o tamanho conforme desejado */
        height: auto;
        border-radius: 8px; /* Bordas arredondadas */
    }
    .detalhes{
        font-size: 10px;
    }
}